#banner {
    video {
        @include vendor('transition', (
            'opacity #{_duration(menu)} ease'
        ));

        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        overflow: hidden;

        opacity: 1;

        &.hidden {
            opacity: 0;
        }
    }
}
