.references {
    @include vendor('display', 'flex');
    @include vendor('flex-flow', 'row wrap');
    @include vendor('justify-content', 'center');

    width: 100%;

    .reference {
        margin: 2em;
        overflow: hidden;
        width: 60vh;

        > * {
            width: 100%;
        }

        header {
            margin-bottom: 0;
        }

        .image {
            height: 50%;
            margin-bottom: 2em;

            img {
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }

        .inner {
            border-bottom: none;
            text-overflow: ellipsis;

            &, > * {
                display: block;
            }
        }

        .description :last-child {
            margin-bottom: 0;
        }
    }
}
